{% extends "base.html" %} {% block title %}Home | {{ super() }}{% endblock title %} {% block content %}
<section class="mt-4">
    <div class="hero bg-base-200 p-4 rounded-2xl">
        <div class="hero-content text-center">
            <div>
                <h1 class="h1 text-4xl">Hi there!</h1>

                <div class="flex flex-wrap gap-2 mb-2 items-center justify-center">
                    <span class="text-2xl font-bold">Welcome to</span>

                    <img alt="Mango³" class="h-6 w-auto" src="{{ get_url(path='logo.svg') }}" />
                </div>

                <p class="text-xl">We are a small group of people building some cool stuff</p>
            </div>
        </div>
    </div>
</section>

<section class="mt-8">
    <h2 class="h2">Our projects</h2>

    <div class="card card-border">
        <div class="card-body flex-row items-center justify-between">
            <div>
                <h3 class="h3 card-title">Filmstrip</h3>

                <p class="text-lg">A great solution to get Movies and TV series recommendations.</p>
            </div>

            <a class="btn btn-primary" href="https://trailers.mango3.app" target="_blank">TRY ALPHA</a>
        </div>
    </div>
</section>
{% endblock content %}
