name: CI

on:
    pull_request:
        branches: [main]
        paths-ignore:
            - .editorconfig
            - LICENSE
            - README.md

    push:
        branches: [main]
        paths-ignore:
            - .editorconfig
            - LICENSE
            - README.md

jobs:
    analysis:
        runs-on: ubuntu-24.04
        steps:
            - uses: actions/checkout@v6
            - uses: ./.github/actions/setup-node
            - name: Generate CSS file
              run: npm run build
            - name: Check site with Zola
              run: |
                  set -euo pipefail
                  docker run --rm -v "${{ github.workspace }}":/workspace -w /workspace ghcr.io/getzola/zola:v0.22.1 \
                  check
